body {
  margin: 0;
  line-height: normal;
}
.nano-nft-desktop-bannerpng-icon {
  position: absolute;
  top: 0;
  left: 1532px;
  width: 1532px;
  height: 601.2px;
  object-fit: cover;
}
.frame-icon {
  position: relative;
  width: 1792.44px;
  height: 925.84px;
  flex-shrink: 0;
}
.svg-div {
  position: absolute;
  width: 117%;
  top: -165px;
  right: -12.95%;
  left: -4.05%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.create-collect-timeless-artwo {
  position: absolute;
  width: 88.13%;
  top: -1px;
  left: 0;
  line-height: 68px;
  font-weight: 900;
  display: flex;
  align-items: center;
}
.discover-div,
.nft-marketplace-made-simpler {
  position: absolute;
  font-weight: 900;
  display: inline-block;
}
.nft-marketplace-made-simpler {
  top: calc(50% + 25.4px);
  left: 0;
  font-size: var(--font-size-2xs);
  line-height: 24px;
  color: var(--color-gray-1000);
}
.discover-div {
  top: 7.8px;
  left: calc(50% - 29.24px);
  line-height: 22px;
}
.button-div {
  width: 49.55%;
  top: 0;
  right: 50.45%;
  left: 0;
  border-radius: var(--br-3xl);
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(101deg, #5191d5, #d31297);
  box-shadow: 2px 1000px 1px #efeeea inset;
  height: 38.8px;
}
.button-div,
.div61,
.div62 {
  position: absolute;
}
.div62 {
  width: 40.3%;
  top: calc(50% + 80.6px);
  right: 59.7%;
  left: 0;
  height: 38.8px;
  text-align: center;
  font-size: var(--font-size-8xs);
}
.div61 {
  width: 42.49%;
  top: calc(50% - 119.4px);
  right: 50%;
  left: 7.51%;
  height: 238.8px;
}
.create-nft-div {
  position: absolute;
  top: calc(50% - 13.6px);
  left: 0;
  line-height: 25.6px;
  font-weight: 900;
  display: inline-block;
}
.svg-icon7 {
  position: absolute;
  width: 9.77%;
  top: calc(50% - 3.76px);
  right: 0;
  left: 90.23%;
  max-width: 100%;
  overflow: hidden;
  height: 10px;
}
.div63 {
  position: absolute;
  width: 6.68%;
  top: calc(50% + 142.4px);
  right: 84.9%;
  left: 8.42%;
  height: 25.6px;
  font-size: var(--font-size-4xs);
  color: var(--color-purple);
}
.qmyfqpjt6bpzvfl8xpntfyw79yrby1-icon {
  position: relative;
  border-radius: var(--br-xl);
  width: 265px;
  height: 265px;
  flex-shrink: 0;
  overflow: hidden;
  object-fit: cover;
}
.div68 {
  border-radius: var(--br-xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.skandamata-div {
  position: relative;
  line-height: 22px;
  font-weight: 900;
  display: inline-block;
}
.h2-div6 {
  position: absolute;
  width: 92.45%;
  top: 9px;
  right: 3.77%;
  left: 3.77%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-9xl) var(--padding-6xs) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-white);
}
.vishayvastu-div {
  position: relative;
  line-height: 22px;
  font-weight: 900;
  color: var(--color-white);
  display: inline-block;
}
.a-div4 {
  position: absolute;
  width: 100%;
  top: -0.2px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 3.2375411987304688px var(--padding-7xs) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.h2-div7 {
  position: absolute;
  width: 48.26%;
  top: 32px;
  right: 47.97%;
  left: 3.77%;
  height: 22px;
  overflow: hidden;
  font-size: var(--font-size-12xs);
}
.usd-span2 {
  font-size: var(--font-size-11xs);
  color: var(--color-gray-900);
}
.bnb-10887-usd-container {
  line-break: anywhere;
  width: 100%;
}
.bnb-10887-usd {
  position: absolute;
  width: 98.5%;
  top: -0.8px;
  left: 0;
  line-height: 14.4px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 28.8px;
}
.div72 {
  position: relative;
  width: 117.7px;
  height: 14.4px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-9xs);
  color: var(--color-white);
}
.div71 {
  position: absolute;
  width: 48.04%;
  top: -1px;
  right: 51.96%;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.x06fd3d836cbe829ed71b0983f4bf8-icon {
  position: absolute;
  width: 25.58%;
  top: 2px;
  right: 74.42%;
  left: 0;
  border-radius: var(--br-md);
  max-width: 100%;
  overflow: hidden;
  height: 30px;
  object-fit: cover;
}
.owner-div3,
.vishayvastu-div1 {
  line-height: 17px;
  font-weight: 900;
}
.owner-div3 {
  position: relative;
  display: inline-block;
}
.vishayvastu-div1 {
  position: absolute;
  width: 96.72%;
  top: calc(50% - 7.7px);
  left: 0;
  display: flex;
  align-items: center;
  height: 32.2px;
}
.h4-div3 {
  position: relative;
  width: 77.3px;
  height: 17px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-9xs);
  color: var(--color-gray-1300);
}
.a-div5,
.div70,
.div73 {
  position: absolute;
  right: 0;
}
.div73 {
  width: 65.9%;
  top: -0.2px;
  left: 34.1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.a-div5,
.div70 {
  width: 47.88%;
  top: 0;
  left: 52.12%;
  height: 34px;
}
.div70 {
  width: 92.45%;
  top: 64px;
  right: 3.77%;
  left: 3.77%;
  height: 35.4px;
  font-size: var(--font-size-10xs);
}
.div69 {
  position: relative;
  width: 265px;
  height: 109.4px;
  flex-shrink: 0;
}
.div67 {
  width: 98.33%;
  top: 2.5px;
  right: 0.83%;
  left: 0.83%;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-sm) var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.div65,
.div66,
.div67 {
  position: absolute;
}
.div66 {
  width: 46.08%;
  top: 0;
  right: 53.92%;
  left: 0;
  border-radius: var(--br-xl);
  background: linear-gradient(119deg, #5191d5, #d31297);
  height: 409.4px;
}
.div65 {
  width: 100%;
  top: 50.6px;
  right: -35%;
  left: 35%;
  height: 1px;
}
.div59,
.div60,
.div64 {
  position: absolute;
  height: 601.2px;
}
.div64 {
  width: 42.49%;
  top: calc(50% - 300.6px);
  right: 7.51%;
  left: 50%;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-1200);
}
.div59,
.div60 {
  top: 0;
}
.div60 {
  left: calc(50% - 766px);
  width: 1532px;
}
.div59 {
  width: 20%;
  right: 60%;
  left: 20%;
  overflow: hidden;
}
.nano-nft-desktop-bannerpng-icon1 {
  position: absolute;
  top: 0;
  left: 3064px;
  width: 1532px;
  height: 601.2px;
  object-fit: cover;
}
.buttonafter-div {
  position: absolute;
  width: 155.38%;
  top: -98px;
  right: -8.46%;
  left: -46.92%;
  background: linear-gradient(
    180deg,
    rgba(87, 140, 211, 0.5) 20.83%,
    rgba(210, 20, 152, 0.5)
  );
  height: 202px;
}
.div78 {
  position: absolute;
  width: 39.01%;
  top: calc(50% - 12.8px);
  right: 0;
  left: 60.99%;
  height: 25.6px;
  text-align: left;
  font-size: var(--font-size-4xs);
  color: var(--color-purple);
}
.divafter1 {
  position: absolute;
  width: 50%;
  top: 144.29px;
  right: 25%;
  left: 25%;
  background: linear-gradient(
    180deg,
    rgba(87, 140, 211, 0.35) 20.83%,
    rgba(210, 20, 152, 0.35)
  );
  height: 300.6px;
}
.qmvea5j4kmc5hgsxh7bk6uwxppcv6a-div {
  position: relative;
  border-radius: var(--br-xl);
  width: 254.74px;
  height: 254.74px;
  flex-shrink: 0;
  overflow: hidden;
}
.div83 {
  position: absolute;
  width: 81.74%;
  top: 14.42px;
  right: 13.63%;
  left: 4.63%;
  border-radius: var(--br-xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.bharatanatyam-div {
  position: relative;
  line-height: 22px;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: 100.4px;
  flex-shrink: 0;
}
.h2-div8 {
  position: absolute;
  width: 83%;
  top: 9.61px;
  right: 12.52%;
  left: 4.47%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 30.39300537109375px 77.91152954101562px 3.9581222534179688px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-white);
}
.created-by-div2,
.theinfinitedesigner-div {
  position: absolute;
  line-height: 22px;
  font-weight: 900;
}
.created-by-div2 {
  top: 30.59px;
  left: 1.04%;
  display: inline-block;
}
.theinfinitedesigner-div {
  width: 64.82%;
  top: -1.62px;
  left: 34.22%;
  font-size: var(--font-size-11xs);
  color: var(--color-white);
  display: flex;
  align-items: center;
}
.a-div6 {
  position: relative;
  width: 118.21px;
  height: 56.48px;
  flex-shrink: 0;
}
.h2-div9 {
  position: absolute;
  width: 55.03%;
  top: 46.99px;
  right: 37.87%;
  left: 7.1%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 7px;
}
.bnb-883-usd,
.reserve-price-div {
  font-weight: 900;
  display: flex;
  align-items: center;
}
.reserve-price-div {
  position: absolute;
  width: 77.73%;
  top: 3.4px;
  left: 0;
  line-height: 16px;
}
.bnb-883-usd {
  width: 100.03%;
  top: 1.19px;
  left: -0.29%;
  line-height: 14.4px;
  height: 43.12px;
}
.bnb-883-usd,
.div86,
.div87 {
  position: absolute;
}
.div87 {
  width: 92.97%;
  top: 14.8px;
  right: 0;
  left: 7.03%;
  height: 34.72px;
  overflow: hidden;
  color: var(--color-white);
}
.div86 {
  width: 42.14%;
  top: 38.27px;
  right: 57.86%;
  left: 0;
  height: 49.52px;
}
.x40dc91d28fb6d6ef9582625df7918-icon {
  position: absolute;
  width: 23.71%;
  top: 30.7px;
  right: 75.81%;
  left: 0.48%;
  border-radius: 12.67px;
  max-width: 100%;
  overflow: hidden;
  height: 27.56px;
  object-fit: cover;
}
.owner-div4,
.theinfinitedesigner-div1 {
  position: absolute;
  line-height: 17px;
  font-weight: 900;
}
.owner-div4 {
  top: calc(50% - 5.79px);
  left: 0.25%;
  display: inline-block;
}
.theinfinitedesigner-div1 {
  width: 93.84%;
  top: calc(50% - 17.14px);
  left: 0.26%;
  display: flex;
  align-items: center;
  height: 47.77px;
}
.div88,
.h4-div4 {
  position: absolute;
  right: 0;
}
.h4-div4 {
  width: 94.69%;
  top: calc(50% - 13.36px);
  left: 5.31%;
  height: 38.7px;
  overflow: hidden;
  font-size: var(--font-size-9xs);
  color: var(--color-gray-1300);
}
.div88 {
  width: 76.89%;
  top: 0;
  left: 23.11%;
  height: 50.68px;
}
.a-div7 {
  width: 58.78%;
  top: 0;
  right: 0.2%;
  left: 41.03%;
  height: 59.67px;
  font-size: var(--font-size-12xs);
}
.a-div7,
.div84,
.div85 {
  position: absolute;
}
.div85 {
  width: 84.6%;
  top: 47.67px;
  right: 4.47%;
  left: 10.92%;
  height: 87.8px;
  font-size: var(--font-size-9xs);
}
.div84 {
  width: 68.93%;
  top: 201.18px;
  right: 4.63%;
  left: 26.44%;
  height: 145.08px;
}
.div81,
.div82 {
  position: absolute;
  border-radius: var(--br-xl);
}
.div82 {
  width: 98.48%;
  top: 2.4px;
  right: 0.76%;
  left: 0.76%;
  background-color: var(--color-black);
  border: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  height: 360.68px;
}
.div81 {
  width: 48.61%;
  top: 82.39px;
  right: 69.94%;
  left: -18.55%;
  background: linear-gradient(119deg, #5191d5, #d31297);
  height: 365.49px;
  transform: rotate(-20deg);
  transform-origin: 0 0;
}
.qmyri85s9xq4av5yyeins8bmjcprrt-icon {
  position: relative;
  border-radius: var(--br-xl);
  width: 268.62px;
  height: 268.62px;
  flex-shrink: 0;
  overflow: hidden;
  object-fit: cover;
}
.div91,
.h2-div10 {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div91 {
  width: 85.1%;
  top: 15.2px;
  right: 10.08%;
  left: 4.82%;
  border-radius: var(--br-xl);
}
.h2-div10 {
  width: 87.54%;
  top: 10.14px;
  right: 8.32%;
  left: 4.14%;
  padding: 32.018035888671875px 182.4609375px 2.165313720703125px 0;
  box-sizing: border-box;
  color: var(--color-white);
}
.afterlife-div,
.created-by-div3 {
  position: absolute;
  top: 9.88px;
  left: 0.78%;
  line-height: 22px;
  font-weight: 900;
  display: inline-block;
}
.afterlife-div {
  top: 1.14px;
  left: 52.08%;
  color: var(--color-white);
}
.a-div8 {
  position: relative;
  width: 93.48px;
  height: 34.85px;
  flex-shrink: 0;
}
.h2-div11 {
  position: absolute;
  width: 38.16%;
  top: 50.43px;
  right: 56.34%;
  left: 5.5%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-13xs);
}
.reserve-price-div1 {
  position: absolute;
  top: 10.32px;
  left: 0;
  line-height: 16px;
  font-weight: 900;
  display: inline-block;
}
.bnb-3531-usd {
  width: 100.19%;
  top: 1.38px;
  left: -0.11%;
  line-height: 14.4px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 29.31px;
}
.bnb-3531-usd,
.div94,
.div95 {
  position: absolute;
}
.div95 {
  width: 97.07%;
  top: 18.1px;
  right: 0;
  left: 2.93%;
  height: 30.69px;
  overflow: hidden;
  font-size: var(--font-size-9xs);
  color: var(--color-white);
}
.div94 {
  width: 50.36%;
  top: 18.95px;
  right: 49.64%;
  left: 0;
  height: 48.78px;
}
.x0a6a1d1a223155e9f2ab37b59e636-icon {
  position: absolute;
  width: 33.7%;
  top: 12.17px;
  right: 65.97%;
  left: 0.34%;
  border-radius: 15.2px;
  max-width: 100%;
  overflow: hidden;
  height: 30.41px;
  object-fit: cover;
}
.afterlife-div1,
.owner-div5 {
  position: absolute;
  line-height: 17px;
  font-weight: 900;
}
.owner-div5 {
  top: calc(50% - 14.26px);
  left: 0.22%;
  display: inline-block;
}
.afterlife-div1 {
  width: 99.86%;
  top: calc(50% - 11.1px);
  left: 0.23%;
  display: flex;
  align-items: center;
  height: 22.02px;
}
.div96,
.h4-div5 {
  position: absolute;
  right: 0;
}
.h4-div5 {
  width: 95.37%;
  top: calc(50% - 4.46px);
  left: 4.63%;
  height: 23.57px;
  overflow: hidden;
  color: var(--color-gray-1300);
}
.div96 {
  width: 61.81%;
  top: 0;
  left: 38.19%;
  height: 38.22px;
}
.a-div9 {
  width: 41.69%;
  top: 0;
  right: 0.1%;
  left: 58.22%;
  height: 44.3px;
}
.a-div9,
.div92,
.div93 {
  position: absolute;
}
.div93 {
  width: 88.38%;
  top: 56.67px;
  right: 4.14%;
  left: 7.49%;
  height: 67.73px;
  font-size: var(--font-size-11xs);
}
.div92 {
  width: 77.61%;
  top: 243.56px;
  right: 4.82%;
  left: 17.57%;
  height: 134.54px;
}
.div89,
.div90 {
  position: absolute;
  border-radius: var(--br-xl);
}
.div90 {
  width: 98.42%;
  top: 2.53px;
  right: 0.79%;
  left: 0.79%;
  background-color: var(--color-black);
  border: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  height: 393.3px;
}
.div89 {
  width: 49.27%;
  top: 33.83px;
  right: 61.71%;
  left: -10.98%;
  background: linear-gradient(119deg, #5191d5, #d31297);
  height: 398.37px;
  transform: rotate(-10deg);
  transform-origin: 0 0;
  font-size: var(--font-size-3xs);
}
.a-div10,
.div97 {
  position: absolute;
  left: 0;
}
.a-div10 {
  width: 100%;
  top: -0.2px;
  right: 0;
  display: flex;
  flex-direction: row;
  padding: 0 3.2376022338867188px var(--padding-7xs) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.div97 {
  width: 46.08%;
  top: 0;
  right: 53.92%;
  border-radius: var(--br-xl);
  background: linear-gradient(119deg, #5191d5, #d31297);
  height: 409.4px;
  font-size: var(--font-size-2xs);
}
.div74,
.div79 {
  position: absolute;
  height: 601.2px;
}
.div79 {
  width: 42.49%;
  top: calc(50% - 300.6px);
  right: 7.51%;
  left: 50%;
  font-size: var(--font-size-xs);
  color: var(--color-gray-1200);
}
.div74 {
  width: 20%;
  top: 0;
  right: 20%;
  left: 60%;
  overflow: hidden;
}
.nano-nft-desktop-bannerpng-icon2 {
  position: absolute;
  top: 0;
  left: 6128px;
  width: 1532px;
  height: 601.2px;
  object-fit: cover;
}
.div58 {
  position: absolute;
  top: 0;
  left: calc(50% - 2298px);
  width: 7660px;
  height: 601.2px;
}
.divafter2 {
  position: absolute;
  width: 100%;
  top: 571.14px;
  right: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0),
    #efeeea 44%,
    #efeeea
  );
  height: 60.11px;
}
.div56,
.div57 {
  height: 642.24px;
}
.div57 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}
.div56 {
  position: relative;
  width: 1532px;
  flex-shrink: 0;
}
.divafter3 {
  position: absolute;
  width: 100%;
  top: -41.04px;
  right: 0;
  left: 0;
  background-color: var(--color-black);
  height: 514.65px;
}
.best-collections-from-this-wee,
.trending-collections-div {
  position: relative;
  line-height: 28.8px;
  font-weight: 900;
  display: inline-block;
}
.trending-collections-div {
  font-size: var(--font-size-3xl);
  line-height: 74.4px;
  margin-top: -0.2px;
}
.div109 {
  position: absolute;
  width: 44.46%;
  right: 55.54%;
  bottom: 100px;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.view-all-div {
  position: absolute;
  bottom: 102.9px;
  left: 92.94%;
  font-size: var(--font-size-4xs);
  line-height: 25.6px;
  font-weight: 900;
  display: inline-block;
}
.div108 {
  position: relative;
  width: 1417px;
  height: 203.2px;
  flex-shrink: 0;
}
.div114,
.div115 {
  position: absolute;
  width: 91.25%;
  right: 4.38%;
  left: 4.38%;
  overflow: hidden;
}
.div114 {
  top: 14px;
  border-radius: var(--br-xl);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  height: 120px;
}
.div115 {
  top: 188px;
  display: flex;
  flex-direction: row;
  padding: 0 89.82499694824219px var(--padding-6xs) 89.17500305175781px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.by-artvista-div {
  position: absolute;
  top: 210.4px;
  left: calc(50% - 34.02px);
  font-size: var(--font-size-10xs);
  line-height: 17.6px;
  font-weight: 900;
  color: var(--color-gray-1700);
  display: inline-block;
}
.div117,
.vol-02870-bnb {
  position: relative;
  line-height: 28px;
  font-weight: 900;
  display: inline-block;
}
.div117 {
  font-size: var(--font-size-8xs);
  color: var(--color-green);
}
.div116 {
  position: absolute;
  width: 91.25%;
  top: 240.6px;
  right: 4.38%;
  left: 4.38%;
  display: flex;
  flex-direction: row;
  padding: 0 42.824981689453125px var(--padding-8xs) 42.33750915527344px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40.84px;
  text-align: left;
  font-size: var(--font-size-7xs);
}
.xfbafd6eab2cc3d097c52b10e2d93a-icon3 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 115px;
  object-fit: cover;
}
.div113,
.div118 {
  position: absolute;
}
.div118 {
  top: 64px;
  left: calc(50% - 57.5px);
  border-radius: var(--br-2xl);
  width: 115px;
  height: 115px;
  overflow: hidden;
}
.div113 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 320px;
  height: 283px;
  cursor: pointer;
}
.x96388e5b62bcfd0f803404571a84c-icon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 120px;
  object-fit: cover;
}
.div121 {
  position: absolute;
  width: 91.25%;
  top: 188px;
  right: 4.38%;
  left: 4.38%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 84.0999755859375px var(--padding-6xs) 83.9000244140625px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.by-ethooruthi-div {
  position: absolute;
  top: 210.4px;
  left: calc(50% - 41.27px);
  font-size: var(--font-size-10xs);
  line-height: 17.6px;
  font-weight: 900;
  color: var(--color-gray-1700);
  display: inline-block;
}
.div122 {
  width: 91.25%;
  top: 240.6px;
  right: 4.38%;
  left: 4.38%;
  display: flex;
  flex-direction: row;
  padding: 0 42.82501220703125px var(--padding-8xs) var(--padding-3xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  text-align: left;
  font-size: var(--font-size-7xs);
}
.div119,
.div122,
.div127 {
  position: absolute;
}
.div119 {
  top: 0;
  left: 350px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 320px;
  height: 283px;
}
.div127 {
  width: 91.25%;
  top: 188px;
  right: 4.38%;
  left: 4.38%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 98.38751220703125px var(--padding-6xs) 97.61248779296875px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.by-harshabht-div {
  position: absolute;
  top: 210.4px;
  left: calc(50% - 40.64px);
  font-size: var(--font-size-10xs);
  line-height: 17.6px;
  font-weight: 900;
  color: var(--color-gray-1700);
  display: inline-block;
}
.div128 {
  position: absolute;
  width: 91.25%;
  top: 240.6px;
  right: 4.38%;
  left: 4.38%;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-2xl) var(--padding-8xs) var(--padding-3xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  text-align: left;
  font-size: var(--font-size-7xs);
}
.div125 {
  top: 0;
  left: 700px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 320px;
  height: 283px;
}
.div125,
.div131,
.div133 {
  position: absolute;
}
.div133 {
  width: 91.25%;
  top: 188px;
  right: 4.38%;
  left: 4.38%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 37.512451171875px var(--padding-6xs) 36.487548828125px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.div131 {
  top: 0;
  left: 1050px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 320px;
  height: 283px;
}
.animonks-animals-of-the-metave {
  position: absolute;
  top: 0;
  left: calc(50% - 146px);
  line-height: 22px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 317.85px;
  height: 21.6px;
}
.div139 {
  position: absolute;
  width: 91.25%;
  top: 189px;
  right: 4.38%;
  left: 4.38%;
  height: 22px;
  overflow: hidden;
}
.by-abhishapes-div {
  position: absolute;
  top: 210.4px;
  left: calc(50% - 43.07px);
  font-size: var(--font-size-10xs);
  line-height: 17.6px;
  font-weight: 900;
  color: var(--color-gray-1700);
  display: inline-block;
}
.div137,
.div140 {
  position: absolute;
}
.div140 {
  width: 91.25%;
  top: 240.6px;
  right: 4.38%;
  left: 4.38%;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-2xl) var(--padding-8xs) var(--padding-3xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  text-align: left;
  font-size: var(--font-size-7xs);
}
.div137 {
  top: 0;
  left: 1400px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 320px;
  height: 283px;
}
.div145 {
  width: 91.25%;
  top: 188px;
  right: 4.38%;
  left: 4.38%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 94.9749755859375px var(--padding-6xs) 96.0250244140625px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.div143,
.div145,
.div151 {
  position: absolute;
}
.div143 {
  top: 0;
  left: 1750px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 320px;
  height: 283px;
}
.div151 {
  width: 91.25%;
  top: 188px;
  right: 4.38%;
  left: 4.38%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 79.612548828125px var(--padding-6xs) 79.387451171875px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.by-kryptomaskers-div {
  position: absolute;
  top: 210.4px;
  left: calc(50% - 53.59px);
  font-size: var(--font-size-10xs);
  line-height: 17.6px;
  font-weight: 900;
  color: var(--color-gray-1700);
  display: inline-block;
}
.div152 {
  width: 91.25%;
  top: 240.6px;
  right: 4.38%;
  left: 4.38%;
  display: flex;
  flex-direction: row;
  padding: 0 42.8125px var(--padding-8xs) 42.35009765625px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 37.84px;
  text-align: left;
  font-size: var(--font-size-7xs);
}
.div149,
.div152,
.div157 {
  position: absolute;
}
.div149 {
  top: 0;
  left: 2100px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 320px;
  height: 283px;
}
.div157 {
  width: 91.25%;
  top: 188px;
  right: 4.38%;
  left: 4.38%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 67.912353515625px var(--padding-6xs) 68.087646484375px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.by-thomash123-div {
  position: absolute;
  top: 210.4px;
  left: calc(50% - 53.01px);
  font-size: var(--font-size-10xs);
  line-height: 17.6px;
  font-weight: 900;
  color: var(--color-gray-1700);
  display: inline-block;
}
.div158 {
  position: absolute;
  width: 91.25%;
  top: 240.6px;
  right: 4.38%;
  left: 4.38%;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-2xl) var(--padding-8xs) 42.337646484375px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  text-align: left;
  font-size: var(--font-size-7xs);
}
.div155 {
  left: 2450px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 320px;
}
.div-icon2,
.div111,
.div112,
.div155 {
  position: absolute;
  top: 0;
  height: 283px;
}
.div112 {
  left: calc(50% - 708.5px);
  width: 11336px;
}
.div-icon2,
.div111 {
  width: 100%;
  right: 0;
  left: 0;
  overflow: hidden;
}
.div-icon2 {
  width: 2.96%;
  top: 120.5px;
  right: 2.52%;
  left: 94.52%;
  border-radius: var(--br-lg);
  max-width: 100%;
  height: 42px;
}
.div110 {
  position: relative;
  width: 1417px;
  height: 283px;
  flex-shrink: 0;
  text-align: center;
  color: var(--color-black);
}
.div107 {
  position: absolute;
  top: 58.96px;
  left: calc(50% - 766px);
  display: flex;
  flex-direction: column;
  padding: 0 0 0 var(--padding-4xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.div106 {
  width: 100%;
  top: 0;
  right: 0;
  height: 686.2px;
}
.div106,
.div164,
.divafter4 {
  position: absolute;
  left: 0;
}
.divafter4 {
  width: 100%;
  top: -41.04px;
  right: 0;
  background-color: var(--color-black);
  height: 624.45px;
}
.div164 {
  width: 31%;
  right: 69%;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  padding: 0 5.25px var(--padding-9xs) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.qmcnjhjnz7xkfv84ygexss8lqdvcke-icon {
  position: relative;
  border-radius: var(--br-xl);
  width: 290px;
  height: 290px;
  flex-shrink: 0;
  overflow: hidden;
  object-fit: cover;
}
.h2-div14 {
  position: absolute;
  width: 93.1%;
  top: 9px;
  right: 3.45%;
  left: 3.45%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 196px var(--padding-6xs) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.ognftstudio-div {
  position: relative;
  line-height: 22px;
  font-weight: 900;
  color: var(--color-gray-900);
  display: inline-block;
}
.a-div12 {
  position: absolute;
  width: 100%;
  top: -0.2px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 3.5999908447265625px var(--padding-10xs) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.h2-div15 {
  position: absolute;
  width: 42.5%;
  top: 32px;
  right: 54.05%;
  left: 3.45%;
  height: 22px;
  overflow: hidden;
  font-size: var(--font-size-12xs);
  color: var(--color-gray-1100);
}
.usd-span6 {
  font-size: var(--font-size-11xs);
}
.bnb-294-usd {
  position: absolute;
  width: 100.18%;
  top: -0.8px;
  left: 0;
  line-height: 14.4px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 15.2px;
}
.div173 {
  position: relative;
  width: 113.46px;
  height: 14.4px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-9xs);
  color: var(--color-gray-900);
}
.div172 {
  position: absolute;
  width: 42.02%;
  top: -1px;
  right: 57.98%;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.x97d0126166fe6156d198b96feacaf-icon {
  position: absolute;
  width: 24.77%;
  top: 2px;
  right: 75.23%;
  left: 0;
  border-radius: var(--br-md);
  max-width: 100%;
  overflow: hidden;
  height: 30px;
  object-fit: cover;
}
.ognftstudio-div1 {
  position: absolute;
  width: 100.25%;
  top: calc(50% - 7.7px);
  left: 0;
  line-height: 17px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 15.2px;
}
.h4-div7 {
  position: relative;
  width: 81.13px;
  height: 17px;
  flex-shrink: 0;
  overflow: hidden;
  color: var(--color-gray-1500);
}
.div174 {
  position: absolute;
  width: 66.98%;
  top: -0.2px;
  right: 0;
  left: 33.02%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.a-div13,
.div171 {
  position: absolute;
  width: 44.86%;
  top: 0;
  right: 0;
  left: 55.14%;
  height: 34px;
}
.div171 {
  width: 93.1%;
  top: 64px;
  right: 3.45%;
  left: 3.45%;
  height: 35.4px;
  font-size: var(--font-size-10xs);
  color: var(--color-gray-1700);
}
.div170 {
  position: relative;
  width: 290px;
  height: 109.4px;
  flex-shrink: 0;
}
.div168,
.h2-div16 {
  position: absolute;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.div168 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 5px 10px -2px #e7e5de;
  border: 1px solid var(--color-gray-1600);
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-xs);
  gap: var(--gap-0);
}
.h2-div16 {
  width: 93.1%;
  top: 9px;
  right: 3.45%;
  left: 3.45%;
  flex-direction: row;
  padding: 0 62px var(--padding-6xs) 0;
}
.created-by-div6,
.manishmalhotraworld-div {
  position: absolute;
  top: -0.2px;
  left: 0;
  line-height: 22px;
  font-weight: 900;
  display: inline-block;
}
.manishmalhotraworld-div {
  left: 29.14%;
  color: var(--color-gray-900);
}
.svg-icon9 {
  position: absolute;
  width: 6.81%;
  top: 5.18px;
  right: 0;
  left: 93.19%;
  max-width: 100%;
  overflow: hidden;
  height: 13px;
}
.a-div14 {
  position: relative;
  width: 190.95px;
  height: 22px;
  flex-shrink: 0;
}
.h2-div17,
.wrx-6179-usd {
  position: absolute;
  display: flex;
}
.h2-div17 {
  width: 65.84%;
  top: 32px;
  right: 30.71%;
  left: 3.45%;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-12xs);
  color: var(--color-gray-1100);
}
.wrx-6179-usd {
  width: 91.44%;
  top: -0.8px;
  left: 0;
  line-height: 14.4px;
  font-weight: 900;
  align-items: center;
  height: 28.8px;
}
.div180 {
  position: relative;
  width: 128.96px;
  height: 14.4px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-9xs);
  color: var(--color-gray-900);
}
.div179 {
  position: absolute;
  width: 47.76%;
  top: -1px;
  right: 52.24%;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.x7af7ca67aa827f58e0659c52a641a-icon {
  position: absolute;
  width: 22.89%;
  top: 2px;
  right: 77.11%;
  left: 0;
  border-radius: var(--br-md);
  max-width: 100%;
  overflow: hidden;
  height: 30px;
  object-fit: cover;
}
.mikeblue7-div {
  position: absolute;
  width: 89.4%;
  top: calc(50% - 7.7px);
  left: 0;
  line-height: 17px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 32.2px;
}
.h4-div8,
.svg-icon10 {
  position: relative;
  width: 74.04px;
  height: 17px;
  flex-shrink: 0;
  overflow: hidden;
}
.svg-icon10 {
  width: 13px;
  height: 13px;
}
.div182 {
  display: flex;
  flex-direction: row;
  padding: 0 0.00002288818359375px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-9xs);
  color: var(--color-gray-1500);
}
.a-div15,
.div181 {
  position: absolute;
  right: 0;
}
.div181 {
  width: 69.47%;
  top: -0.2px;
  left: 30.53%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.a-div15 {
  width: 48.53%;
  top: 0;
  left: 51.47%;
  height: 34px;
}
.div175,
.h2-div18 {
  position: absolute;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.div175 {
  top: 0;
  left: 350px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 5px 10px -2px #e7e5de;
  border: 1px solid var(--color-gray-1600);
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-xs);
  gap: var(--gap-0);
}
.h2-div18 {
  width: 93.1%;
  top: 9px;
  right: 3.45%;
  left: 3.45%;
  flex-direction: row;
  padding: 0 126px var(--padding-6xs) 0;
}
.mjmukeshjain-div {
  position: absolute;
  top: -0.2px;
  left: 36.85%;
  line-height: 22px;
  font-weight: 900;
  color: var(--color-gray-900);
  display: inline-block;
}
.svg-icon11 {
  position: absolute;
  width: 8.61%;
  top: 5.18px;
  right: 0;
  left: 91.39%;
  max-width: 100%;
  overflow: hidden;
  height: 13px;
}
.a-div16 {
  position: relative;
  width: 151.04px;
  height: 22px;
  flex-shrink: 0;
}
.h2-div19 {
  position: absolute;
  width: 52.08%;
  top: 32px;
  right: 44.47%;
  left: 3.45%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-12xs);
  color: var(--color-gray-1100);
}
.current-bid-div {
  position: relative;
  line-height: 16px;
  font-weight: 900;
  display: inline-block;
}
.bnb-103-usd {
  position: absolute;
  width: 98.74%;
  top: -0.8px;
  left: 0;
  line-height: 14.4px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 28.8px;
}
.div188 {
  position: relative;
  width: 120.18px;
  height: 14.4px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-9xs);
  color: var(--color-gray-900);
}
.div187 {
  position: absolute;
  width: 44.51%;
  top: -1px;
  right: 55.49%;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.xca7824198cbbf5f1fe54c9dfebd5e-icon {
  position: absolute;
  width: 21.46%;
  top: 2px;
  right: 78.54%;
  left: 0;
  border-radius: var(--br-md);
  max-width: 100%;
  overflow: hidden;
  height: 30px;
  object-fit: cover;
}
.mjmukeshjain-div1 {
  position: absolute;
  width: 92.45%;
  top: calc(50% - 7.7px);
  left: 0;
  line-height: 17px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 32.2px;
}
.h4-div9 {
  position: relative;
  width: 82.83px;
  height: 17px;
  flex-shrink: 0;
  overflow: hidden;
}
.div190 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-9xs);
  color: var(--color-gray-1500);
}
.a-div17,
.div189 {
  position: absolute;
  right: 0;
}
.div189 {
  width: 71.39%;
  top: -0.2px;
  left: 28.61%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.a-div17 {
  width: 51.79%;
  top: 0;
  left: 48.21%;
  height: 34px;
}
.a-div18,
.div183,
.h2-div20 {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.div183 {
  top: 0;
  left: 700px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 5px 10px -2px #e7e5de;
  border: 1px solid var(--color-gray-1600);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-xs);
  gap: var(--gap-0);
}
.a-div18,
.h2-div20 {
  flex-direction: row;
}
.h2-div20 {
  width: 93.1%;
  top: 9px;
  right: 3.45%;
  left: 3.45%;
  overflow: hidden;
  padding: 0 93px var(--padding-6xs) 0;
}
.a-div18 {
  width: 100%;
  top: -0.2px;
  right: 0;
  left: 0;
  padding: 0 1.9749755859375px var(--padding-10xs) 0;
  gap: var(--gap-sm);
}
.h2-div21 {
  position: absolute;
  width: 32.97%;
  top: 32px;
  right: 63.58%;
  left: 3.45%;
  height: 22px;
  overflow: hidden;
  font-size: var(--font-size-12xs);
  color: var(--color-gray-1100);
}
.bnb-206-usd {
  position: absolute;
  width: 91.89%;
  top: -0.8px;
  left: 0;
  line-height: 14.4px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 28.8px;
}
.div196 {
  position: relative;
  width: 120.22px;
  height: 14.4px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-9xs);
  color: var(--color-gray-900);
}
.div195,
.peopleartsclub-div {
  position: absolute;
  left: 0;
  display: flex;
}
.div195 {
  width: 44.53%;
  top: -1px;
  right: 55.47%;
  flex-direction: column;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.peopleartsclub-div {
  width: 94.22%;
  top: calc(50% - 7.7px);
  line-height: 17px;
  font-weight: 900;
  align-items: center;
  height: 32.2px;
}
.h4-div10 {
  position: relative;
  width: 99.78px;
  height: 17px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-9xs);
  color: var(--color-gray-1500);
}
.a-div19,
.div197 {
  position: absolute;
  right: 0;
}
.div197 {
  width: 71.38%;
  top: -0.2px;
  left: 28.62%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.a-div19 {
  width: 51.77%;
  top: 0;
  left: 48.23%;
  height: 34px;
}
.a-div20,
.div191,
.h2-div22 {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.div191 {
  top: 0;
  left: 1050px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 5px 10px -2px #e7e5de;
  border: 1px solid var(--color-gray-1600);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-xs);
  gap: var(--gap-0);
  font-size: var(--font-size-xs);
}
.a-div20,
.h2-div22 {
  flex-direction: row;
}
.h2-div22 {
  width: 93.1%;
  top: 9px;
  right: 3.45%;
  left: 3.45%;
  overflow: hidden;
  padding: 0 4var (--padding-6xs) 1px 0;
}
.a-div20 {
  width: 100%;
  top: -0.2px;
  right: 0;
  left: 0;
  padding: 0 5.4624786376953125px var(--padding-10xs) 0;
  gap: var(--gap-sm);
}
.h2-div23 {
  position: absolute;
  width: 48.66%;
  top: 32px;
  right: 47.89%;
  left: 3.45%;
  height: 22px;
  overflow: hidden;
  font-size: var(--font-size-12xs);
  color: var(--color-gray-1100);
}
.wrx-5129-usd {
  position: absolute;
  width: 100.17%;
  top: -0.8px;
  left: 0;
  line-height: 14.4px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 15.2px;
}
.div203 {
  position: relative;
  width: 120.89px;
  height: 14.4px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-9xs);
  color: var(--color-gray-900);
}
.div202 {
  position: absolute;
  width: 44.77%;
  top: -1px;
  right: 55.23%;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.x7af7ca67aa827f58e0659c52a641a-icon1 {
  position: absolute;
  width: 22.87%;
  top: 2px;
  right: 77.13%;
  left: 0;
  border-radius: var(--br-md);
  max-width: 100%;
  overflow: hidden;
  height: 30px;
  object-fit: cover;
}
.h4-div11 {
  position: relative;
  width: 74.18px;
  height: 17px;
  flex-shrink: 0;
  overflow: hidden;
}
.div205 {
  display: flex;
  flex-direction: row;
  padding: 0 0.0000762939453125px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--color-gray-1500);
}
.a-div21,
.div204 {
  position: absolute;
  right: 0;
}
.div204 {
  width: 69.51%;
  top: -0.2px;
  left: 30.49%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.a-div21 {
  width: 48.58%;
  top: 0;
  left: 51.42%;
  height: 34px;
}
.div198,
.qmvq689cefb3a6d8ufbvqbzravfzkz-div {
  position: absolute;
  top: 0;
  border-radius: var(--br-xl);
  overflow: hidden;
}
.div198 {
  left: 1400px;
  background-color: var(--color-white);
  box-shadow: 0 5px 10px -2px #e7e5de;
  border: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.qmvq689cefb3a6d8ufbvqbzravfzkz-div {
  width: 100%;
  right: 0;
  left: 0;
  height: 290px;
}
.svg-icon14 {
  position: relative;
  width: 53.98px;
  height: 53.98px;
  flex-shrink: 0;
  overflow: hidden;
}
.div208 {
  position: absolute;
  width: 106.5%;
  top: 0;
  right: -6.5%;
  left: 0;
  background-color: var(--color-gray-1400);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl) 118.01242065429688px var(--padding-7xl)
    118.0125732421875px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.div-icon3 {
  position: absolute;
  width: 8.62%;
  top: 255px;
  right: 3.45%;
  left: 87.93%;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  height: 25px;
}
.div207 {
  position: relative;
  border-radius: var(--br-xl);
  width: 290px;
  height: 290px;
  flex-shrink: 0;
  overflow: hidden;
}
.a-div22,
.h2-div24 {
  position: absolute;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.h2-div24 {
  width: 93.1%;
  top: 9px;
  right: 3.45%;
  left: 3.45%;
  overflow: hidden;
  padding: 0 87px var(--padding-6xs) 0;
}
.a-div22 {
  width: 100%;
  top: -0.2px;
  right: 0;
  left: 0;
  padding: 0 3.6124725341796875px var(--padding-10xs) 0;
  gap: var(--gap-sm);
}
.h2-div25 {
  position: absolute;
  width: 45.26%;
  top: 32px;
  right: 51.29%;
  left: 3.45%;
  height: 22px;
  overflow: hidden;
  font-size: var(--font-size-12xs);
  color: var(--color-gray-1100);
}
.wbnb-2413-usd {
  position: absolute;
  width: 96.05%;
  top: -0.8px;
  left: 0;
  line-height: 14.4px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 28.8px;
}
.div212 {
  position: relative;
  width: 135.04px;
  height: 14.4px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-9xs);
  color: var(--color-gray-900);
}
.div211 {
  position: absolute;
  width: 50.01%;
  top: -1px;
  right: 49.99%;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.x0f9edd4af96adc57755bf7eb9df78-icon {
  position: absolute;
  width: 22.93%;
  top: 2px;
  right: 77.07%;
  left: 0;
  border-radius: 14.32px;
  max-width: 100%;
  overflow: hidden;
  height: 30px;
  object-fit: cover;
}
.thenftwazir-div {
  position: absolute;
  width: 99.25%;
  top: calc(50% - 7.7px);
  left: 0;
  line-height: 17px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 32.2px;
}
.h4-div12 {
  position: relative;
  width: 86.31px;
  height: 17px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-9xs);
  color: var(--color-gray-1500);
}
.div213 {
  position: absolute;
  width: 69.07%;
  top: -0.2px;
  right: 0;
  left: 30.93%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.a-div23,
.div206 {
  position: absolute;
  top: 0;
}
.a-div23 {
  width: 46.28%;
  right: 0;
  left: 53.72%;
  height: 34px;
}
.div206 {
  left: 1750px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 5px 10px -2px #e7e5de;
  border: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.div216 {
  width: 106.5%;
  top: 0;
  right: -6.5%;
  left: 0;
  background-color: var(--color-gray-1400);
  padding: var(--padding-5xl) var(--padding-6xl) var(--padding-7xl)
    var(--padding-8xl);
}
.a-div24,
.div216,
.h2-div26 {
  position: absolute;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.h2-div26 {
  width: 93.1%;
  top: 9px;
  right: 3.45%;
  left: 3.45%;
  overflow: hidden;
  padding: 0 137px var(--padding-6xs) 0;
}
.a-div24 {
  width: 100%;
  top: -0.2px;
  right: 0;
  left: 0;
  padding: 0 4.3998565673828125px var(--padding-10xs) 0;
  gap: var(--gap-sm);
}
.h2-div27 {
  position: absolute;
  width: 41.4%;
  top: 32px;
  right: 55.16%;
  left: 3.45%;
  height: 22px;
  overflow: hidden;
  font-size: var(--font-size-12xs);
  color: var(--color-gray-1100);
}
.aknftart-div1 {
  position: absolute;
  width: 100.26%;
  top: calc(50% - 7.7px);
  left: 0;
  line-height: 17px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 15.2px;
}
.h4-div13 {
  position: relative;
  width: 77.29px;
  height: 17px;
  flex-shrink: 0;
  overflow: hidden;
  color: var(--color-gray-1500);
}
.a-div25,
.div214 {
  position: absolute;
  top: 0;
}
.a-div25 {
  width: 43.44%;
  right: 0;
  left: 56.56%;
  height: 34px;
}
.div214 {
  left: 2100px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 5px 10px -2px #e7e5de;
  border: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.girl-with-a-pearl-earring-th1 {
  position: absolute;
  width: 113.69%;
  top: 0;
  left: 0;
  line-height: 22px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 21.6px;
}
.h2-div28 {
  position: absolute;
  width: 93.1%;
  top: 10px;
  right: 3.45%;
  left: 3.45%;
  height: 22px;
  overflow: hidden;
}
.a-div26 {
  position: absolute;
  width: 100%;
  top: -0.2px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 2.2498550415039062px var(--padding-10xs) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.h2-div29 {
  position: absolute;
  width: 35.83%;
  top: 32px;
  right: 60.72%;
  left: 3.45%;
  height: 22px;
  overflow: hidden;
  font-size: var(--font-size-12xs);
  color: var(--color-gray-1100);
}
.div228 {
  position: relative;
  width: 118.93px;
  height: 14.4px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-9xs);
  color: var(--color-gray-900);
}
.div227 {
  position: absolute;
  width: 44.05%;
  top: -1px;
  right: 55.95%;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.xbdf5e1818da16b0edfcaf30836cf1-icon2 {
  position: absolute;
  width: 22.67%;
  top: 2px;
  right: 77.33%;
  left: 0;
  border-radius: var(--br-md);
  max-width: 100%;
  overflow: hidden;
  height: 30px;
  object-fit: cover;
}
.mynameisjeff-div2 {
  position: absolute;
  width: 100.22%;
  top: calc(50% - 7.7px);
  left: 0;
  line-height: 17px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 15.2px;
}
.h4-div14 {
  position: relative;
  width: 92.35px;
  height: 17px;
  flex-shrink: 0;
  overflow: hidden;
  color: var(--color-gray-1500);
}
.div229 {
  position: absolute;
  width: 69.78%;
  top: -0.2px;
  right: 0;
  left: 30.22%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.a-div27,
.div222 {
  position: absolute;
  top: 0;
}
.a-div27 {
  width: 49.02%;
  right: 0;
  left: 50.98%;
  height: 34px;
}
.div222 {
  left: 2450px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 5px 10px -2px #e7e5de;
  border: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.a-div28,
.dynamicduos-1-cr7-marcelo {
  position: absolute;
  left: 0;
  display: flex;
}
.dynamicduos-1-cr7-marcelo {
  width: 110.44%;
  top: 0;
  line-height: 22px;
  font-weight: 900;
  align-items: center;
  height: 21.6px;
}
.a-div28 {
  width: 100%;
  top: -0.2px;
  right: 0;
  flex-direction: row;
  padding: 0 1.9498519897460938px var(--padding-10xs) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.h2-div31 {
  position: absolute;
  width: 34%;
  top: 32px;
  right: 62.55%;
  left: 3.45%;
  height: 22px;
  overflow: hidden;
  font-size: var(--font-size-12xs);
  color: var(--color-gray-1100);
}
.wrx-309-usd {
  position: absolute;
  width: 100.19%;
  top: -0.8px;
  left: 0;
  line-height: 14.4px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 15.2px;
}
.div236 {
  position: relative;
  width: 105.93px;
  height: 14.4px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-9xs);
  color: var(--color-gray-900);
}
.div235,
.hoodibaba-div {
  position: absolute;
  left: 0;
  display: flex;
}
.div235 {
  width: 39.23%;
  top: -1px;
  right: 60.77%;
  flex-direction: column;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.hoodibaba-div {
  width: 100.27%;
  top: calc(50% - 7.7px);
  line-height: 17px;
  font-weight: 900;
  align-items: center;
  height: 15.2px;
}
.h4-div15 {
  position: relative;
  width: 74.66px;
  height: 17px;
  flex-shrink: 0;
  overflow: hidden;
  color: var(--color-gray-1500);
}
.a-div29,
.div230,
.div237 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div237 {
  flex-direction: column;
  gap: var(--gap-2xs);
}
.a-div29,
.div230 {
  position: absolute;
  box-sizing: border-box;
}
.a-div29 {
  width: 42.47%;
  top: -0.2px;
  right: 0;
  left: 57.53%;
  flex-direction: row;
  padding: 0 0 0 var(--padding-xl);
}
.div230 {
  top: 0;
  left: 2800px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 5px 10px -2px #e7e5de;
  border: 1px solid var(--color-gray-1600);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-xs);
  gap: var(--gap-0);
}
.div-icon6,
.div166,
.div167 {
  position: absolute;
  top: 0;
  height: 429.4px;
}
.div167 {
  left: calc(50% - 708.5px);
  width: 12753px;
}
.div-icon6,
.div166 {
  width: 100%;
  right: 0;
  left: 0;
  overflow: hidden;
}
.div-icon6 {
  width: 2.96%;
  top: 193.7px;
  right: 2.52%;
  left: 94.52%;
  border-radius: var(--br-lg);
  max-width: 100%;
  height: 42px;
}
.div165 {
  position: relative;
  width: 1417px;
  height: 429.4px;
  flex-shrink: 0;
  color: var(--color-gray-900);
}
.div162 {
  position: absolute;
  top: 58.96px;
  left: calc(50% - 766px);
  display: flex;
  flex-direction: column;
  padding: 0 0 0.000091552734375px var(--padding-4xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.building-trust-in {
  margin-block-start: 0;
  margin-block-end: 0;
}
.creators-and {
  margin: 0;
}
.building-trust-in-the-metavers {
  position: relative;
  line-height: 52px;
  font-weight: 900;
  white-space: pre-wrap;
  display: inline-block;
}
.div240,
.div241 {
  position: relative;
  flex-shrink: 0;
}
.div240 {
  width: 102.34px;
  height: 25.6px;
  font-size: var(--font-size-4xs);
}
.div241 {
  width: 1302px;
  height: 41.94px;
}
.div239 {
  display: flex;
  flex-direction: column;
  padding: 67.60009765625px var(--padding-4xl) 68px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.4px;
}
.div161,
.div238 {
  position: absolute;
  width: 100%;
}
.div238 {
  top: 735px;
  right: 0.13%;
  left: -0.13%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url(./public/div4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: 44px;
}
.div161 {
  top: 646.76px;
  right: 0;
  left: 0;
  height: 832.6px;
}
.image-9-icon2 {
  position: absolute;
  top: calc(50% - 136.62px);
  left: -4.38px;
  width: 168px;
  height: 105.45px;
  object-fit: cover;
}
.create-sell-or-collect-digit,
.nft-marketplace-div {
  position: absolute;
  width: 46.97%;
  top: 41.71px;
  left: 0;
  line-height: 32.1px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 20.07px;
}
.create-sell-or-collect-digit {
  width: 75.43%;
  top: 80.64px;
  font-size: var(--font-size-6xs);
  line-height: 22.47px;
  color: var(--color-gray-1200);
  height: 39.33px;
}
.svg-icon19,
.svg-icon20,
.svg-icon21 {
  position: relative;
  width: 25.08px;
  height: 20.07px;
  flex-shrink: 0;
  overflow: hidden;
}
.svg-icon20,
.svg-icon21 {
  width: 24.08px;
  height: 24.08px;
}
.svg-icon21 {
  width: 20.07px;
  height: 20.07px;
}
.svg-icon22,
.svg-icon23,
.svg-icon25,
.svg-icon26 {
  position: relative;
  width: 23.08px;
  height: 19.06px;
  flex-shrink: 0;
  overflow: hidden;
}
.svg-icon23,
.svg-icon25,
.svg-icon26 {
  width: 30.1px;
  height: 30.1px;
}
.svg-icon25,
.svg-icon26 {
  width: 21.07px;
  height: 20.07px;
}
.svg-icon26 {
  width: 20.07px;
  height: 15.05px;
}
.div245,
.div246 {
  position: absolute;
  left: 0;
}
.div246 {
  width: 100%;
  top: 143.24px;
  right: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) 20.06527328491211px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 20.07px;
}
.div245 {
  width: 26.65%;
  top: 0;
  right: 73.35%;
  height: 203.26px;
}
.marketplace-div {
  position: relative;
  line-height: 25.68px;
  font-weight: 900;
  display: inline-block;
}
.collectors-div,
.create-div,
.creators-div {
  position: absolute;
  top: -0.6px;
  left: 0;
  line-height: 22.47px;
  font-weight: 900;
  display: inline-block;
}
.collectors-div,
.creators-div {
  top: 64.41px;
}
.collectors-div {
  top: 96.92px;
}
.div249 {
  position: relative;
  width: 98.22px;
  height: 130.02px;
  flex-shrink: 0;
  font-size: var(--font-size-6xs);
  color: var(--color-gray-1300);
}
.div248 {
  display: flex;
  flex-direction: column;
  padding: 0 0 32.505645751953125px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.bug-bounty-div,
.terms-and-conditions {
  position: absolute;
  top: 31.9px;
  left: 0;
  line-height: 22.47px;
  font-weight: 900;
  display: inline-block;
}
.bug-bounty-div {
  top: 129.42px;
}
.div251 {
  position: relative;
  width: 148.85px;
  height: 162.53px;
  flex-shrink: 0;
  font-size: var(--font-size-6xs);
  color: var(--color-gray-1300);
}
.div250 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.div244,
.div247 {
  position: absolute;
}
.div247 {
  width: 21.99%;
  top: -0.8px;
  right: 0;
  left: 78.01%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40.13px;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
}
.div244 {
  width: 84.99%;
  top: 0;
  right: 7.51%;
  left: 7.51%;
  height: 203.26px;
}
.div243 {
  position: relative;
  width: 1537px;
  height: 245.8px;
  flex-shrink: 0;
}
.div242 {
  position: absolute;
  width: 99.93%;
  top: 1765.76px;
  right: 0.07%;
  left: 0;
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  padding: 40.13054656982422px 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 19.06px;
  color: rgba(255, 255, 255, 0.9);
}
.div105 {
  position: relative;
  width: 1532px;
  height: 2062px;
  flex-shrink: 0;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
}
.div55 {
  position: absolute;
  width: 100%;
  top: 74px;
  right: 0;
  left: 0;
  height: 2784px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
}
.image-9-icon3 {
  position: absolute;
  top: calc(50% - 41px);
  left: calc(50% - 764px);
  width: 168px;
  height: 79.06px;
  object-fit: cover;
}
#signout{
  position:absolute;
  top:65px;
  right:120px;
}
.discover-creators-collectors-s1,
.login-div{
  position: absolute;
  width: 23.88%;
  top: 24px;
  left: 8.95%;
  line-height: 64px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 16.8px;
}
.login-div {
  top: 4px;
  left: 72px;
  font-size: 20px;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  width: 71px;
  height: 36px;
}
.div-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 9px;
  right: 46px;
  border-radius: 22.5px;
  width: 205px;
  height: 45px;
}
.div253 {
  position: relative;
  width: 1452px;
  height: 64px;
  flex-shrink: 0;
}
.header-div1 {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.div252,
.header-div1,
.section-div1 {
  background-color: var(--color-gray-100);
}
.div252 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-1700);
}
.section-div1 {
  position: relative;
  width: 1532px;
  height: 2858px;
  flex-shrink: 0;
}
.divroot1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 2858px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.httpsnftwazirxorg-div {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 2858px;
  overflow-x: auto;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
